
<b>Project description</b>

You work for the online store Ice, which sells video games all over the world. User and expert reviews, genres, platforms (e.g. Xbox or PlayStation), and historical data on game sales are available from open sources. You need to identify patterns that determine whether a game succeeds or not. This will allow you to spot potential big winners and plan advertising campaigns.


In front of you is data going back to 2016. Let’s imagine that it’s December 2016 and you’re planning a campaign for 2017.


(The important thing is to get experience working with data. It doesn't really matter whether you're forecasting 2017 sales based on data from 2016 or 2017 sales based on data from 2016.)
The dataset contains the abbreviation ESRB. The Entertainment Software Rating Board evaluates a game's content and assigns an age rating such as Teen or Mature.


<b>Instructions for completing the project</b>

Step 1. Open the data file and study the general information

In [1]:
#import the necessary libraries
import pandas as pd

In [2]:
df = pd.read_csv('games.csv')

In [3]:
df.head()

,Name,Platform,Year_of_Release,Genre,NA_sales,EU_sales,JP_sales,Other_sales,Critic_Score,User_Score,Rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

Step 2. Prepare the data

- Replace the column names (make them lowercase).
- Convert the data to the required types.
- Describe the columns where the data types have been changed and why.
- If necessary, decide how to deal with missing values:
- Explain why you filled in the missing values as you did or why you decided to leave them blank.
- Why do you think the values are missing? Give possible reasons.
- Pay attention to the abbreviation TBD (to be determined). Specify how you intend to handle such cases.
- Calculate the total sales (the sum of sales in all regions) for each game and put these values in a separate column.

In [5]:
#make columns lower case
df.columns = df.columns.str.lower()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16713 non-null  object
 1   platform         16715 non-null  object
 2   year_of_release  16446 non-null  float64
 3   genre            16713 non-null  object
 4   na_sales         16715 non-null  float64
 5   eu_sales         16715 non-null  float64
 6   jp_sales         16715 non-null  float64
 7   other_sales      16715 non-null  float64
 8   critic_score     8137 non-null   float64
 9   user_score       10014 non-null  object
 10  rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

### Convert the data to the required types

In [6]:
#user_score should be changed to a float but see there are some with a 'tbd' value. 
#I want to see how many games have a user score of 'tbd' 
df.query("user_score == 'tbd'")

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
119,Zumba Fitness,Wii,2010.0,Sports,3.45,2.59,0.0,0.66,NaN,tbd,E
301,Namco Museum: 50th Anniversary,PS2,2005.0,Misc,2.08,1.35,0.0,0.54,61.0,tbd,E10+
520,Zumba Fitness 2,Wii,2011.0,Sports,1.51,1.03,0.0,0.27,NaN,tbd,T
645,uDraw Studio,Wii,2010.0,Misc,1.65,0.57,0.0,0.20,71.0,tbd,E
657,Frogger's Adventures: Temple of the Frog,GBA,NaN,Adventure,2.15,0.18,0.0,0.07,73.0,tbd,E
...,...,...,...,...,...,...,...,...,...,...,...
16695,Planet Monsters,GBA,2001.0,Action,0.01,0.00,0.0,0.00,67.0,tbd,E
16697,Bust-A-Move 3000,GC,2003.0,Puzzle,0.01,0.00,0.0,0.00,53.0,tbd,E
16698,Mega Brain Boost,DS,2008.0,Puzzle,0.01,0.00,0.0,0.00,48.0,tbd,E
16704,Plushees,DS,2008.0,Simulation,0.01,0.00,0.0,0.00,NaN,tbd,E
16706,Men in Black II: Alien Escape,GC,2003.0,Shooter,0.01,0.00,0.0,0.00,NaN,tbd,T

In [7]:
#because so many user scores are 'tbd' (over 2400), I dont want to replace that with a different value like average
#I will update the values with a value of 'tbd' to be '99' 
#If I do any work around user scores, I will filter the ones with a value of 99 away

df['user_score'] = df['user_score'].replace('tbd', 99)
df['user_score'] = df['user_score'].fillna(99)

In [8]:
#ready to convert user score to a float
df['user_score'] = df['user_score'].astype('float')

In [9]:
#The platform column is for the game consoles. This should be a category data type
df['platform'] = df['platform'].astype('category')

In [10]:
#I am going to use a similar approach for critic_score, but since the critic score has a range of 0-100, i will update those missing values to be 999
df['critic_score'] = df['critic_score'].fillna(999)

In [11]:
df['year_of_release'].unique()

array([2006., 1985., 2008., 2009., 1996., 1989., 1984., 2005., 1999.,
       2007., 2010., 2013., 2004., 1990., 1988., 2002., 2001., 2011.,
       1998., 2015., 2012., 2014., 1992., 1997., 1993., 1994., 1982.,
       2016., 2003., 1986., 2000.,   nan, 1995., 1991., 1981., 1987.,
       1980., 1983.])

In [12]:
#Year of release should be a whole integer instead of a float. 
#Before updating, I need to change the rows with missing values to have a year of 2099.
df['year_of_release'] = df['year_of_release'].fillna(2099)
df['year_of_release'] = df['year_of_release'].astype('int')

In [13]:
#Similar to platform, genre should also be a category dtype
df['genre'] = df['genre'].astype('category')

In [14]:
#Rating should be a category type but first I will replace null rating values with 'missing'
df['rating'] = df['rating'].fillna('missing')

In [15]:
#Ready to update 'rating' to be a category
df['rating'] = df['rating'].astype('category')

In [16]:
#To understand how games sold across all 3 of the available regions, i will make a 'total_sales' column
df['total_sales'] = df['na_sales'] + df['eu_sales'] + df['jp_sales'] + df['other_sales']
df.head()

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating,total_sales
0,Wii Sports,Wii,2006,Sports,41.36,28.96,3.77,8.45,76.0,8.0,E,82.54
1,Super Mario Bros.,NES,1985,Platform,29.08,3.58,6.81,0.77,999.0,99.0,missing,40.24
2,Mario Kart Wii,Wii,2008,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E,35.52
3,Wii Sports Resort,Wii,2009,Sports,15.61,10.93,3.28,2.95,80.0,8.0,E,32.77
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,11.27,8.89,10.22,1.00,999.0,99.0,missing,31.38

In [17]:
#Convert the data to the required types

Step 3. Analyze the data

- Look at how many games were released in different years. Is the data for every period significant?
- Look at how sales varied from platform to platform. Choose the platforms with the greatest total sales and build a distribution based on data for each year. Find platforms that used to be popular but now have zero sales. How long does it generally take for new platforms to appear and old ones to fade?
- Determine what period you should take data for. To do so, look at your answers to the previous questions. The data should allow you to build a prognosis for 2017.
- Work only with the data that you've decided is relevant. Disregard the data for previous years.
- Which platforms are leading in sales? Which ones are growing or shrinking? Select several potentially profitable platforms.
- Build a box plot for the global sales of all games, broken down by platform. Are the differences in sales significant? What about average sales on various platforms? Describe your findings.
- Take a look at how user and professional reviews affect sales for one popular platform (you choose). Build a scatter plot and calculate the correlation between reviews and sales. Draw conclusions.
- Keeping your conclusions in mind, compare the sales of the same games on other platforms.
- Take a look at the general distribution of games by genre. What can we say about the most profitable genres? Can you generalize about genres with high and low sales?

Step 4. Create a user profile for each region

For each region (NA, EU, JP), determine:
- The top five platforms. Describe variations in their market shares from region to region.
- The top five genres. Explain the difference.
- Do ESRB ratings affect sales in individual regions?

Step 5. Test the following hypotheses:

—Average user ratings of the Xbox One and PC platforms are the same.
—Average user ratings for the Action and Sports genres are different.
Set the alpha threshold value yourself.
Explain:
—How you formulated the null and alternative hypotheses
—What significance level you chose to test the hypotheses, and why

Step 6. Write a general conclusion

Format: Complete the task in the Jupyter Notebook. Insert the programming code in the code cells and text explanations in the markdown cells. Apply formatting and add headings.

Data description
—Name
—Platform
—Year_of_Release
—Genre
—NA_sales (North American sales in USD million)
—EU_sales (sales in Europe in USD million)
—JP_sales (sales in Japan in USD million)
—Other_sales (sales in other countries in USD million)
—Critic_Score (maximum of 100)
—User_Score (maximum of 10)
—Rating (ESRB)
Data for 2016 may be incomplete.

How will my project be evaluated?

Read these project assessment criteria carefully before you get to work.
Here’s what project reviewers will be looking at when evaluating your project:
- How do you describe the problems you identify in the data?
- How do you prepare a dataset for analysis?
- How do you build distribution graphs and how do you explain them?
- How do you calculate standard deviation and variance?
- Do you formulate alternative and null hypotheses?
- What methods do you apply when testing them?
- Do you explain the results of your hypothesis tests?
- Do you follow the project structure and keep your code neat and comprehensible?
- Which conclusions do you reach?
- Did you leave clear, relevant comments at each step?

Everything you need to complete this project is in the takeaway sheets and summaries from previous chapters.